In [5]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
print(s)

0    0.494275
1    0.467391
2   -0.515297
3    0.228468
4   -0.219261
dtype: float64

In [7]:
import numpy as np
import pandas as pd
arr = pd.Series(np.random.randn(5),index = ['a','b','c','d','e'])
print(arr)

a   -1.753472
b   -1.315162
c   -0.138870
d   -1.457100
e    2.176383
dtype: float64

In [8]:
#data series can be obtained from a pandas dictionary

d = {'A':1,'B':2,'C':3}
a = pd.Series(d)
print(a)

A    1
B    2
C    3
dtype: int64

In [10]:
#DataFrame using a dictionary of series

d = {'C1':pd.Series(['A','B','C']),'C2':pd.Series(['D','E','F'])}
dd = pd.DataFrame(d)
print(dd)

  C1 C2
0  A  D
1  B  E
2  C  F

In [65]:
#dataframe using a dictionary of lists
import pandas as pd
l = {'C1':['A','B','C','D'],'C2':[1,2,4,5]}
df = pd.DataFrame(l)
print(df)

  C1  C2
0  A   1
1  B   2
2  C   4
3  D   5

In [17]:
#Panels

import numpy as np
import pandas as pd
t = {'A':pd.DataFrame(np.random.randn(4,3)),'B':pd.DataFrame(np.random.randn(4,2))}
p = pd.Panel(t)
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: A to B
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [73]:
#Converting the data into the csv 

import numpy as np
import pandas as pd

d = {'c1':pd.Series([1,2,3,4]),'c2':pd.Series(['a','b','d'])}
df = pd.DataFrame(d)
gf = df
print(df)
df.isnull()
#cs = df.to_csv(df)
#s = pd.read_csv(cs) #read_csv requires path
#print(s)

   c1   c2
0   1    a
1   2    b
2   3    d
3   4  NaN

      c1     c2
0  False  False
1  False  False
2  False  False
3  False   True

In [ ]:
#for json
import json
json_data = open(path)
data = json.load(json_data)
or 
data = pd.read_json(Path)
json_data.close()

In [ ]:
#databases
d = read_sql_table(Table,con)
d = read_sql_query(SQL,con)
#Table = database table
#SQL = sql query
#con = connection to the database

In [74]:
df.isnull()
#df['c1'].isnull().value_counts()
df['c2'].isnull().value_counts()
#df.dropna(inplace = True)
print(df)

   c1   c2
0   1    a
1   2    b
2   3    d
3   4  NaN

In [85]:
#to convert a string to upper case = String_name.str.upper()
#to convert a string to lower case = String_name.str.lower()
#to get length of a string = String_name.str.len()
Str = 'Shivam'
#S = Str.upper()
#S = len(Str)
S = Str.lower()
print(S)

shivam

In [89]:
c = df.fillna(method = 'pad') #forward propagation
#c = df.fillna(df.mean()) # to pad with the  mean
#d= df['c1'].count()
print(c)

   c1 c2
0   1  a
1   2  b
2   3  d
3   4  d

In [96]:
#Aggreagate operations
print(df['c1'].mean())

2.5

In [91]:
print(df['c1'].min())

1

In [92]:
print(df['c1'].max())

4

In [93]:
print(df['c1'].sum())

10

In [95]:
#standard deviation
print(df['c1'].std())

1.2909944487358056