# Python Basics

In [4]:
#Print Function
a = 12
print(a, end = " ") #end means after a space will be printed
print(10)
print(10)

12 10
10

In [5]:
#Output of last line gets printed
#since a was 12
b = 10
a

12

In [6]:
#Variable and three types of numbers
a = 10
print(type(a))
a = 12.3
print(type(a))
a = 10 + 3j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
#Order of execution matters not the order of cells
a

(10+3j)

In [8]:
#Arithmetic Operations
a = 12
b = 20
print(a)
print(b)
print(a + b)
print(a - b)
print(a * b)
print(a / b)    #prints the floor value of the division in c++ and java
print(a % b)

12
20
32
-8
240
0.6
12

In [10]:
#Strings in Python
a = 'this is a string'  #double or single quotes don't matter at all
b = "this is a string"
print(a)
print(b)

this is a string
this is a string

In [11]:
#Operations on Strings
print(len(a))
a = "The strings in Python are immutable" #valid as we are making "a" point to another string
# a[0] = '2' : this is invalid
print(type(a))
print(a,)
b = '2'
print(type(b)) #Python has no characters it only has strings
c = 'Alright'
d = a + c #String Concatenation
print(d)

16
<class 'str'>
The strings in Python are immutable
<class 'str'>
The strings in Python are immutableAlright

In [66]:
#Some String functions
a = " abc "
print(a)
print(a.upper()) #s.upper() returns a new object and doesnâ€™t make changes in original string object "a".  
print(a.lower())
print(a.strip()) #removes all the white spaces in the beginning or in the end
print(a.isalpha()) #it returns false as it contains spaces as well as the alphabets

 abc
 ABC
 abc
abc
False

In [12]:
#User input
a = input() #it takes input as a String
print(a)
print(type(a))
a = int(input()) #converted the String into integer
print(type(a))

1
1
<class 'str'>
2
<class 'int'>

In [65]:
abc = 1,0000,0000
#a b c = 100, 000 , 0000 #it is invalid as the spaces are not allowed in a variable name
a, b, c = 100, 200, 300

In [72]:
#String Indexing
a = "abc"
print(a[0])
print(a[1])
print(a[2])
print(a[-1])
print(a[-2])
print(a[-3])

a
b
c
c
b
a

In [82]:
#String Slicing
#Starting index element is always included and last index element is not included
a = "abcdegh"
print(a[:4]) #Before 4th
print(a[4:]) #After 4th and 4th is included as 4 is the starting index
print(a[1:3])
print(a[:])
print(a[-1:]) #as -1 is the last index

abcd
egh
bc
abcdegh
h

In [91]:
#Tuples
a = (1,2,3)
#a[0] = 5 is invalid as tuples are immutable
print(a)
b = ('ssd',22.4,1+3j)
print(b)
print(a+b)
print(a*2) #copies the tuples by n times
print(1 in a) #Checks if 1 is present in a

(1, 2, 3)
('ssd', 22.4, (1+3j))
(1, 2, 3, 'ssd', 22.4, (1+3j))
(1, 2, 3, 1, 2, 3)
True

In [13]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]